[*]
charset = utf-8
end_of_line = crlf

[*.cs]

# CS4014: Task not awaited
dotnet_diagnostic.CS4014.severity = error

# CS1998: Async function does not contain await
dotnet_diagnostic.CS1998.severity = silent

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = silent
 
# IDE0060: // Remove unused parameter 
dotnet_diagnostic.IDE0060.severity = silent 
 
# CS1066: // Optional parameter has no effect 
dotnet_diagnostic.CS1066.severity = silent 
 
# CLASS0001: Seal classes that do not have any virtual or abstract methods, properties, events, or indexers
dotnet_diagnostic.CLASS0001.severity = silent 

dotnet_diagnostic.LindhartAnalyserMissingAwaitWarning.severity = error 

dotnet_diagnostic.ASYNC0004.severity = silent
dotnet_diagnostic.ASYNC0001.severity = silent

[*.{xml,xsd}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true