:root {
  --md-primary-fg-color:        #372773;
  --md-accent-fg-color:         #fa7376;
}

.md-sidebar__inner {
  --md-typeset-a-color: #fa7376;
}

.md-content {
  --md-typeset-a-color: #09bfdd;
}

[data-md-color-scheme="slate"] {
  --md-hue: 234; 
}

.md-grid {
  width: 100%;
  max-width: 1900px;
}

.tabbed-labels > label {
  background-color: var(--md-typeset-mark-color);
}

/* the source theme uses this for selected tabs and goes out to 19 as well */
.tabbed-alternate input:nth-child(1):checked ~ .tabbed-labels > :nth-child(1),
.tabbed-alternate input:nth-child(2):checked ~ .tabbed-labels > :nth-child(2),
.tabbed-alternate input:nth-child(3):checked ~ .tabbed-labels > :nth-child(3),
.tabbed-alternate input:nth-child(4):checked ~ .tabbed-labels > :nth-child(4),
.tabbed-alternate input:nth-child(5):checked ~ .tabbed-labels > :nth-child(5),
.tabbed-alternate input:nth-child(6):checked ~ .tabbed-labels > :nth-child(6),
.tabbed-alternate input:nth-child(7):checked ~ .tabbed-labels > :nth-child(7),
.tabbed-alternate input:nth-child(8):checked ~ .tabbed-labels > :nth-child(8),
.tabbed-alternate input:nth-child(9):checked ~ .tabbed-labels > :nth-child(9)
{
  background-color: var(--md-primary-fg-color);
  box-shadow: var(--md-shadow-z3);
}

.md-typeset .tabbed-alternate input:nth-child(1):checked ~ .tabbed-labels > :nth-child(1),
.md-typeset .tabbed-alternate input:nth-child(2):checked ~ .tabbed-labels > :nth-child(2),
.md-typeset .tabbed-alternate input:nth-child(3):checked ~ .tabbed-labels > :nth-child(3),
.md-typeset .tabbed-alternate input:nth-child(4):checked ~ .tabbed-labels > :nth-child(4),
.md-typeset .tabbed-alternate input:nth-child(5):checked ~ .tabbed-labels > :nth-child(5),
.md-typeset .tabbed-alternate input:nth-child(6):checked ~ .tabbed-labels > :nth-child(6),
.md-typeset .tabbed-alternate input:nth-child(7):checked ~ .tabbed-labels > :nth-child(7),
.md-typeset .tabbed-alternate input:nth-child(8):checked ~ .tabbed-labels > :nth-child(8),
.md-typeset .tabbed-alternate input:nth-child(9):checked ~ .tabbed-labels > :nth-child(9)
{
  color: var(--md-accent-fg-color);
}

